* {
  box-sizing: border-box;
}
/*this means that the margins and borders are included in the height and width measurements of the boxes*/


aside {
  float: right;
  /*display: inline;*/
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  max-width: 40%;
  margin-left: 2%;
  background: #EFD3D7
}


body {
  /*max-width: 400px;*/
  background: #BCF4F5
}


footer {
  clear: both;
  max-width: 600px;
  /*display: block;*/
  margin: 50px auto;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  line-height: 2;
  /*position: relative;*/
  /*bottom: 0;*/
  background: #FFB7C3
}


.gridbox {
  /*change the margin here to get rid of thick black lines inbetween*/
  /*float: left;*/
  display: inline-block;
  height: 100px;
  width: 100px;
  /*margin: -1px;*/
  border: 1px solid #fafafa;
  border-radius: 10px;
  background: #D9F2B4;
  font-family: 'Roboto', sans-serif;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0 0 0
}

.gridbox:empty {
  display: none;
}


h1 {
  font-family: 'Lobster', cursive;
  font-size: 100px;
  line-height: 150px;
  color: white;
  text-align: center
}


.leftside {
  /*position: relative;*/
  float: left;
  max-width: 48%;
  /*max-width: 450px;*/
  margin: 0 auto
}


main {
  max-width: 800px;
  margin: 30px auto;
  overflow: auto
}


ul {
  /*the LIs are 100px each with a margin of -3px so some maths is required*/
  /*originally 428px wide*/
  background: #CBD1DA;
  width: 440px;
  /*height: 418px;*/
  border-top: 20px solid #8E9AAF;
  border-right: 20px solid #8E9AAF;
  border-bottom: 20px solid #8E9AAF;
  border-left: 20px solid #8E9AAF;
  border-radius: 15px
}
